<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>SubTrackr</display-name>

    <listener>
        <listener-class>com.subtrackr.util.ReminderScheduler</listener-class>
    </listener>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.subtrackr.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.subtrackr.controller.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.subtrackr.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubscriptionServlet</servlet-name>
        <servlet-class>com.subtrackr.controller.SubscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscriptionServlet</servlet-name>
        <url-pattern>/subscription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>com.subtrackr.controller.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/analytics</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.subtrackr.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
